---
import SEO_Meta from "../../components/SEO_Meta.astro";
import Navbar from "../../components/Navbar.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro"; // replace with relative component path
const currentPath = Astro.url.pathname;
const { frontmatter } = Astro.props;
const updated_date = new Date(frontmatter.created);
const updated_date_fmt = `${updated_date.toLocaleString("default", {
  month: "long",
})} ${updated_date.getDay()}, ${updated_date.getFullYear()}`;
---

<html>
  <head>
    <SEO_Meta frontmatter={frontmatter} />

    <title>{frontmatter.title}</title>
  </head>

  <body>
    <Navbar />
    <main>
      <Breadcrumbs currentPath={currentPath} />
      <div>
        <span> 🕙 Updated {updated_date_fmt}</span>
      </div>
      <slot />
    </main>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,600;1,400;1,500;1,600&family=Lato&family=Montserrat:wght@300;400;500&family=Open+Sans&family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500&family=Roboto:wght@300;400&display=swap");

      body {
        color: #141313;
        font-family: "Open Sans", sans-serif;
      }
      main {
        width: 70%;
        margin: 0 auto;
        padding: 4px 8px;
      }
    </style>
  </body>
</html>
