---
import SEO_Meta from "../../components/SEO_Meta.astro";

const { frontmatter } = Astro.props;
const updated_date = new Date(frontmatter.created);
const updated_date_fmt = `${updated_date.toLocaleString("default", {
  month: "long",
})} ${updated_date.getDay()}, ${updated_date.getFullYear()}`;
---

<html>
  <head>
    <SEO_Meta frontmatter={frontmatter} />

    <title>{frontmatter.title}</title>
  </head>

  <body>
    <main>
      <div>
        <span> 🕙 Updated {updated_date_fmt}</span>
      </div>
      <slot />
    </main>
    <style>
      main {
        width: 70%;
        margin: 0 auto;
        padding: 4px 8px;
      }
    </style>
  </body>
</html>
